.options {
    font-family: "Freeman";
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7cdd0;
    margin-bottom: 2.5rem;
}

.options:not(.option1) {
    color: #fff;
}

.option2,
.option4,
.option6 {
    flex-direction: row-reverse;
}

.option2,
.option3 {
    background-color: #0021DB;
}

.option4,
.option5 {
    background-color: #016343;
}

.option6 {
    background-color: #008248;
    margin-bottom: 4rem;
}

.options__image {
    width: 50%;
    height: 100%;
    flex-grow: 1;
}

.options__image img {
    width: 100%;
    height: 100%;
}

.options__caption {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem 0;
}

.options__title {
    width: 80%;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

.options__text {
    width: 70%;
    line-height: 1.5;
    text-align: center;
    font-size: 1.2rem;
}

.options__button {
    border: none;
    outline: none;
    padding: 0.7rem 1.5rem;
    border-radius: 1rem;
    font-family: "Freeman";
    cursor: pointer;
}

.image1 {
    background-image: url("./images/1.jpg");
}

@media(max-width:900px) {
    .options {
        flex-direction: column;
    }

    .options__image {
        width: 100%;
    }

    .options__caption {
        width: 100%;
        padding-bottom: 2rem;
    }
}